header {
  background-color: #FFA500;
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

section {
  flex-basis: 30%;
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px;
  margin: 0 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #FFA500;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
